APP_PORT=5000

DB_PORT=5432
DB_HOST=host
DB_USER=user_name
DB_PASSWORD=password
DB_NAME=db_name

ACCESS_TOKEN_SECRET=someaccesstokensecret
REFRESH_TOKEN_SECRET=somerefreshtokensecret
ACCESS_TOKEN_EXPIRES_IN=36000
REFRESH_TOKEN_EXPIRES_IN=86400

BASE_URL=http://localhost:5000